
h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 85px;
  font-weight: lighter;
  margin-bottom: -15px;
}

body {
    background-image: url("https://news-cdn.softpedia.com/images/news2/Script-of-the-Day-Trianglify-447787-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

input[type=text] {
  border-radius: 5px;
  border: solid gray thin;
  height: 15px;
  width: 80px;
  padding: 2px 3px;
  outline: none;
  /* color: white; */
}

input[type=text]:focus {
    border: 1px solid #3399ff;
}

input[type=submit], #clear {
  border-radius: 5px;
  border: 1px solid #4d4dff;
  width: 80px;
  height: 20px;
  margin-left: 5px;
  background-color: #6666ff;
  color: white;
  box-shadow: 2px 3px 3px grey;
  outline: none;
}

#colorPicker {
  border-radius: 5px;
  width: 50px;
  margin-left: 5px;
}

table {
    border-collapse: collapse;
    margin: auto;
    cursor: url("paintbrush_cursor.png") 0 16, auto;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
}

td {
  height: 15px;
  width: 15px;
}

h2 {
  display: inline-block;
}
