.content {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

input[type=text] {
  width: 80px;
  padding: 2px 2px;
  margin: 5px 0;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
  height: 15px;
  width: 15px;
}
